<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
table {
    border: 1px solid black;
}
tr {
    border: 1px solid black;
}
td { 
    border: 1px solid black;
}
</style>
<body>
    <table>
        <% data.forEach((name) =>{ %>
        <tr>
            <td><%= name %></td>
        </tr>
        <% })  %>
    </table>
    <form action="/downloadImg" method="post">
        <label for="fileName"> File Name</label>
        <input type="text" name="fileName" id="fileName" >
        <button>download</button>
    </form>     
    <form action="/viewImg" method="get">
        <label for="fileName"> File Name</label>
        <input type="text" name="fileName" id="fileName" >
        <button>view</button>
    </form>     
</body>
</html>