<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Form to fill in csv and sql</h1>
    <form action="/result" method="post">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" /> <br />
      <br />
      <label for="lastName">DOB</label>
      <input type="date" id="lastName" name="lastName" /> <br />
      <br />
      <button>Submite</button>
    </form>
    <br />
    <!-- <a href="/showList">Show Forms</a> -->
    <H1>iMGAE UPLOAD DOWNLOAD</H1>
    <form action="/upload">
      <button>Upload</button>
    </form>
    <form action="/download">
      <button>Download</button>
    </form>
  </body>
</html>
