<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <FORM action="/display" method="post">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName"  id="firstName"/> <br>
        <label for="lastNamr" >last name</label>
        <input type="text" name="lastName" id="lastName" /> <br>
        <button onclick="submite()">Submite</button>
    </FORM>
    <script src="./script.js"></script>
</body>
</html>
